.homepageBoldButtons {
   -webkit-clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 3% 10%, 95% 10%, 6% 19%, 9% 100%, 91% 100%, 100% 100%, 100% 0%);
clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 3% 10%, 95% 10%, 6% 19%, 9% 100%, 91% 100%, 100% 100%, 100% 0%);
transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.homepageBoldButtons:hover {
   -webkit-clip-path: polygon(0% 0%, 0% 100%, 10% 94%, 3% 10%, 95% 10%, 6% 19%, 14% 89%, 93% 100%, 100% 100%, 100% 0);
clip-path: polygon(0% 0%, 0% 100%, 10% 94%, 3% 10%, 95% 10%, 6% 19%, 14% 89%, 93% 100%, 100% 100%, 100% 0);
}