@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SEQUEL";
  src: url("/fonts/sequel/Sequel_Demo.tff");
}
@font-face {
  font-family: "OWENPRO";
  src: url("/fonts/OwenPro/OwenPro-Bold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "OWENPRO";
  src: url("/fonts/OwenPro/OwenPro-SemiBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "OWENPRO";
  src: url("/fonts/OwenPro/OwenPro-Heavy.otf");
  font-weight: 600;
}
@font-face {
  font-family: "OWENPRO";
  src: url("/fonts/OwenPro/Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "OWENPRO";
  src: url("/fonts/OwenPro/Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "OWENPRO";
  src: url("/fonts/OwenPro/Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "PROXON";
  src: url("/fonts/ProxonFont/PROXON.ttf");
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
